<!-- Footer -->
<link rel="stylesheet" href="/static/css/styles.css">
<footer>
    <p>&copy; 2024 AutoGallery. All rights reserved.</p>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

<!-- For Font Awesome Icon -->
<script src="https://kit.fontawesome.com/dbd1987823.js" crossorigin="anonymous"></script>